/* MarqueeSlider.css */
.marqueeSlider {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    position: relative;
    margin: 0 a;
  }
  
  .sliderContent {
    /* display: inline-block; */
    animation: marquee 15s infinite linear;
  }
  
  @keyframes marquee {
    /* 0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
     */
     0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-100%, 0);
      }
  }