@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Space";
  src: local("Space"),
   url("./font/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-display: swap
 }


body {
  margin: 0;
  font-family: "Space", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.singlePost{
line-height: 24px;
}
.subcribe_button{
  width: 100%;
}

@media screen and (min-width: 576px){
.last-test{
  flex-direction: row !important;
}
}
@media screen and (min-width: 1024px){
  .last-test{
    flex-direction: column !important;
  }
.pricingCards{
display: flex;
}

.subcribe_button{
  width: 140px;
}

}